---
page_title: "{{ .Name }} {{ .Type }} - {{.ProviderName}}"
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/neon_endpoint/resource.tf" }}

{{.SchemaMarkdown}}

## Import

The Neon Endpoint can be imported to the terraform state by providing the composite identifier that consists
of the `ProjectID` and the `EndpointID`.

Import using the [import block](https://developer.hashicorp.com/terraform/language/import):

For example, use the composite identifier `curly-poetry-30604233/ep-black-mouse-a64dr7wp`
to import the endpoint `ep-black-mouse-a64dr7wp` from the project `curly-poetry-30604233`:

```hcl
import {
  to = {{.Name}}.example
  id = "curly-poetry-30604233/ep-black-mouse-a64dr7wp"
}
```

Import using the command `terraform import`:

```commandline
terraform import {{.Name}}.example curly-poetry-30604233/ep-black-mouse-a64dr7wp
```
