---
page_title: "{{ .Name }} {{ .Type }} - {{.ProviderName}}"
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/neon_vpc_endpoint_assignment/resource.tf" }}

{{.SchemaMarkdown}}

## Import

The VPC endpoint assignment to organization can be imported to the terraform state by its identifier
which is composed of the organization ID, Neon region ID and the VPC endpoint ID.

For example, the identifier of the VPC endpoint assignment to the organization `org-foo-bar-01234567`
for the VPC endpoint `vpce-1234567890abcdef0` in the Neon region `aws-us-east-1` is
`org-foo-bar-01234567/aws-us-east-1/vpce-1234567890abcdef0`.

Import using the [import block](https://developer.hashicorp.com/terraform/language/import):

For example:

```hcl
import {
  to = {{.Name}}.example
  id = "org-foo-bar-01234567/aws-us-east-1/vpce-1234567890abcdef0"
}
```

Import using the command `terraform import`:

```commandline
terraform import {{.Name}}.example "org-foo-bar-01234567/aws-us-east-1/vpce-1234567890abcdef0"
```
