---
page_title: "Provider: Neon - {{.ProviderName}}"
description: |-
  The Neon provider is used to manage the Neon Postgres SaaS platform's resources.
---

# Neon Provider

![logo](https://raw.githubusercontent.com/kislerdm/terraform-provider-neon/master/fig/logo.svg)

The terraform provider to manage [Neon Platform](https://neon.tech) resources.

> Neon is a fully managed serverless PostgreSQL with a generous free tier. Neon separates storage and compute and offers
> modern developer features such as serverless, branching, bottomless storage, and more. Neon is open source and written
> in Rust.

Find more about Neon [here](https://neon.tech/docs/introduction/about/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown }}
